.header-button {
  border: 1px solid #2a7ae4;
  background-color: transparent;
  padding: 1rem;
  width: 182px;
  height: 51px;
  color: #2a7ae4;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}

.header-button-admin {
  border: 1px solid #2a7ae4;
  background-color: transparent;
  padding: 1rem;
  width: 192px;
  height: 51px;
  color: #2a7ae4;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}